* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #FFF;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */
@media screen and (max-width: 600px){
  .grid-sizer,
  .grid-item {
    width: 50%;
  }

}
@media screen and (max-width: 900px) and (min-width: 600px){
  .grid-sizer,
  .grid-item {
    width: 33%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 900px){
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1200px){
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1500px){
  .grid-sizer,
  .grid-item {
    width: 16%;
  }
}
@media screen and (max-width: 2100px) and (min-width: 1800px){
  .grid-sizer,
  .grid-item {
    width: 14%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  padding: 10px;
}

img:hover {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  z-index: 1;
}

.zoom-right img:hover {
  transform-origin: right 0;
}

.zoom-left img:hover {
  transform-origin: left 0;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
