* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #FFF;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */
@media screen and (max-width: 600px){
  .grid-sizer,
  .grid-item {
    width: 100%;
  }

}
@media screen and (max-width: 1024px) and (min-width: 600px){
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1024px){
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media screen and (min-width: 1440px){
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  padding: 10px;
}

img:hover {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  z-index: 1;
}

.zoom-right img:hover {
  transform-origin: right 0;
}

.zoom-left img:hover {
  transform-origin: left 0;
}

/*div:last-child{
    border: 2px solid #F00;
}*/
